name: Find Final Redirect

on:
  workflow_dispatch:   # elle çalıştırmak için (input gerekmiyor)

jobs:
  check-redirect:
    runs-on: ubuntu-latest
    steps:
      - name: Son yönlendirme URL'sini bul
        run: |
          TARGET_URL="https://sezonlukdizi8.com/link.asp?id="
          FINAL_URL=$(curl -Ls -o /dev/null -w '%{url_effective}' "$TARGET_URL")
          echo "Son yönlendirme adresi:"
          echo "$FINAL_URL"
