name: M3U MAKER

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'    # Her 6 saatte bir tüm scriptler çalışır
    - cron: '0 2 * * *'     # Türkiye saati 05:00 -> 02:00 UTC (DMAX - TLC - TV DİZİLERİ bu tetikte çalışacak)

jobs:
  part1:
    name: Step 1-3 Çalıştır
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout public repo (main)
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Cache pip
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: pip-cache-${{ runner.os }}-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            pip-cache-${{ runner.os }}-

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Clone Private Py Repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/Py.git private_py

      - name: Install Shared Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 lxml playwright aiohttp aiofiles dotenv zstandard cloudscraper python-dateutil
          playwright install

      # --- IPTV & Dizi Scriptleri ---
      - name: Run Vavoo Yayınları.py
        run: python private_py/vavoo/iptv/vavooiptvkendi.py

      - name: Run GunlukSporAkısı.py
        run: python private_py/channels/gunluksporakısı/tvyayinakisi.py

      # 2. DiziFun Diziler Yerli Scripts ( site kapandı )
      # - name: Run dizifunyenibolumler.py
      #   run: python private_py/series/dizifun/yenibolumler.py

      - name: Run dizilifeyenibolumler.py
        run: python private_py/series/dizilife/yenibolumler.py

      # 2. FilmHane Diziler Yerli Scripts ( şimdilik kullanmaya gerek yok )
      # - name: Run filmhaneyenibolumler.py
      #   run: python private_py/series/filmhane/yenibolumler.py

  #    - name: Run diziyiizleyenibolumler.py
  #      run: python private_py/series/diziyiizle/yenibolumler.py

      # 2. EPG üretimi sadece gece 05:00 TR çalışacak ---
      - name: Run epg.py (sadece Türkiye saati 05:00 ve Manuel Çalıştırmada)
        if: ${{ (github.event_name == 'schedule' && startsWith(github.event.schedule, '0 2')) || github.event_name == 'workflow_dispatch' }}
        run: python private_py/channels/epg/gunlukepg.py

      # 2. DMAX sadece gece 04:00 TR çalışacak ---
      - name: Run dmax.py (sadece Türkiye saati 05:00)
        if: ${{ (github.event_name == 'schedule' && startsWith(github.event.schedule, '0 2'))}}
        run: python private_py/series/dmax/yenibolumler.py

      # 2. TLC sadece gece 04:00 TR çalışacak ---
      - name: Run tlc.py (sadece Türkiye saati 05:00)
        if: ${{ (github.event_name == 'schedule' && startsWith(github.event.schedule, '0 2'))}}
        run: python private_py/series/tlc/yenibolumler.py

      # 2. TV Dizileri sadece gece 05:00 TR çalışacak ---
      - name: Run yereldiziler.py (sadece Türkiye saati 05:00 ve Manuel Çalıştırmada)
        if: ${{ (github.event_name == 'schedule' && startsWith(github.event.schedule, '0 2')) || github.event_name == 'workflow_dispatch' }}
        run: python private_py/series/yereldiziler/yereldiziler.py

      - name: Commit and Push EPG to public repo
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add xtream/tum_kanallar.xml xtream/tum_kanallar.gz || echo "No files"
          git commit -m "Günlük EPG güncellendi [auto]" || echo "No changes"
          git push origin main

      - name: Sync M3U outputs to private repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/m3u8file.git privaate_m3u8file

          cp v/vavoo.m3u privaate_m3u8file/vavoo.m3u || echo "v/vavoo.m3u bulunamadı"
          cp dizifundizi.m3u privaate_m3u8file/dizifundizi.m3u || echo "dizifundizi.m3u bulunamadı"
          cp dizilifedizi.m3u privaate_m3u8file/dizilifedizi.m3u || echo "dizilifedizi.m3u bulunamadı"
          cp filmhanedizi.m3u privaate_m3u8file/filmhanedizi.m3u || echo "filmhanedizi.m3u bulunamadı"
          cp gunluk_spor.m3u privaate_m3u8file/gunluk_spor.m3u || echo "gunluk_spor.m3u bulunamadı"
          cp diziyiizledizi.m3u privaate_m3u8file/diziyiizledizi.m3u || echo "diziyiizledizi.m3u bulunamadı"
          cp dmax.m3u privaate_m3u8file/dmax.m3u || echo "dmax.m3u bulunamadı"
          cp tlc.m3u privaate_m3u8file/tlc.m3u || echo "tlc.m3u bulunamadı"
          cp televizyondizileri.m3u privaate_m3u8file/televizyondizileri.m3u || echo "televizyondizileri.m3u bulunamadı"

          cd privaate_m3u8file
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add .
          git commit -m "Auto playlist update" || echo "No changes"
          git push origin main

      # 3. Run All JSON
      - name: Run Dizigom JSON Script
        run: python private_py/series/dizigom/dizigomdizijson.py

      - name: Run Sezonlukdizi JSON Script
        run: python private_py/series/sezonlukdizi/tumdizilerjson.py

      - name: Run Anizm JSON Script
        run: python private_py/anime/anizm/anizimjson.py

      - name: Run AnimeNoSub JSON Script
        run: python private_py/anime/ingilizce/animenosub/animenosubjson.py

      - name: Run SetfilmİzleDizi JSON Script
        run: python private_py/series/setfilmizledizi/setfilmizledizijson.py

      - name: Run Dizipall JSON Script
        run: python private_py/series/dizipall/jsonyonlendirmeguncelleme.py

      #- name: Run Dizipal JSON Script ( cloudflare koruması mevcut )
       # run: python private_py/series/dizipal/dizipaljson.py

      - name: Run DiziYo JSON Script
        run: python private_py/series/diziyo/diziyojson.py

      - name: Commit and Push All JSONs to public repo
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add dizigom/*.json || echo "No dizigom files"
          git add sdizi/*.json || echo "No sezonlukdizi files"
          git add anizm/*.json || echo "No anizm files"
          git add animenosub/*.json || echo "No animenosub files"
          git add setfilmizledizi/*.json || echo "No setfilmizledizi files"
          git add dizipal/*.json || echo "No dizipal files"
          git add diziyo/*.json || echo "No diziyo files"
          git add dizipall/diziler.json || echo "No diziyo files"
          git commit -m "All JSON güncellendi [auto]" || echo "No changes"
          git push origin main

  part2:
    name: Step 4 Çalıştır
    runs-on: ubuntu-latest
    needs: part1
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout public repo (main)
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Clone Private Py Repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/Py.git private_py

      - name: Install Shared Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 lxml

      # 4. DİZİLER KATEGORİ GÜNCELLEME
      - name: Run series_kategori_guncelleme Script
        run: python private_py/series/category.py

      - name: Commit and Push Ana JSONs to public repo
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add xtream/series_category.json || echo "No files"
          git commit -m "Series Category JSON güncellendi [auto]" || echo "No changes"
          git push origin main
          
  part3:
    name: YeniBolumler
    runs-on: ubuntu-latest
    needs: [part2]
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    strategy:
      fail-fast: false
      matrix:
        script:
          - sezonlukdizi
          - dizigom
          - anizm
          - animenosub
          - setfilmizledizi
          - diziyo
          - dizipall
          - hdfilmsitedizi

    steps:
      - name: Checkout public repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Clone Private Py Repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/Py.git private_py

      - name: Install Dependencies
        run: |
          pip install -U pip
          pip install requests beautifulsoup4 lxml playwright aiohttp aiofiles python-dotenv
          playwright install

      # -------------------------------
      #  PY SCRIPT ÇALIŞTIRMA
      # -------------------------------
      - name: Run Python Script
        run: |
          case "${{ matrix.script }}" in
            sezonlukdizi)   python private_py/series/sezonlukdizi/yenibolumler.py ;;
            dizigom)        python private_py/series/dizigom/yenibolumler.py ;;
            anizm)          python private_py/anime/anizm/yenibolumler.py ;;
            animenosub)     python private_py/anime/ingilizce/animenosub/yenibolumler.py ;;
            setfilmizledizi) python private_py/series/setfilmizledizi/yenibolumler.py ;;
            diziyo)         python private_py/series/diziyo/yenibolumler.py ;;
            dizipall)       python private_py/series/dizipall/yenibolumler.py ;;
            hdfilmsitedizi) python private_py/series/hdfilmsite/yenibolumler.py ;;
          esac

      # -------------------------------
      #  PRIVATE REPO SENKRON – HER PY BİTİNCE
      # -------------------------------
      - name: Sync to private repos
        run: |
          REPO=""
          SRC=""

          case "${{ matrix.script }}" in
            sezonlukdizi)    SRC="sdizi" ;          REPO="sezonlukdizi" ;;
            dizigom)         SRC="dizigom" ;        REPO="dizigom" ;;
            anizm)           SRC="anizm" ;          REPO="anizm" ;;
            animenosub)      SRC="animenosub" ;     REPO="animenosub" ;;
            setfilmizledizi) SRC="setfilmizledizi" ; REPO="setfilmizledizi" ;;
            diziyo)          SRC="diziyo" ;         REPO="diziyo" ;;
            dizipall)        SRC="dizipall" ;       REPO="dizipall" ;;
            hdfilmsitedizi)  SRC="yereldiziler" ;   REPO="hdfilmsitedizi" ;;
          esac

          echo "Private repo: $REPO"
          echo "Source folder: $SRC"

          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/$REPO.git private_repo

          rsync -a ${SRC}/ private_repo/

          cd private_repo
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add . || true
          git commit -m "${{ matrix.script }} çıktı güncellendi [auto]" || true
          git push origin main || true


  # -------------------------------
  #  TÜM JOBLAR BİTTİKTEN SONRA PUBLIC JSON COMMIT
  # -------------------------------
  public_commit:
    name: Public JSON Commit
    runs-on: ubuntu-latest
    needs: [part3]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Commit all JSON at once
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add */*.json *.json || true
          git commit -m "Tüm JSON çıktıları paralel çalıştırma sonrası toplu güncellendi [auto]" || true
          git push origin main || true
          
  part4:
    name: Step 15 Çalıştır
    runs-on: ubuntu-latest
    needs: public_commit
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout public repo (main)
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Clone Private Py Repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/Py.git private_py

      # 15. YeniJSON to AnaJSON
      - name: Run yenibolumdenanajsona Script
        run: python private_py/series/yenibolumdenanajsona.py

      - name: Commit and Push Ana JSONs to public repo
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add dizigom/*.json sdizi/*.json anizm/*.json animenosub/*.json setfilmizledizi/*.json diziyo/*.json || echo "No files"
          git commit -m "All Ana JSON güncellendi [auto]" || echo "No changes"
          git push origin main

  part5:
    name: Step 16-to-19 Çalıştır
    runs-on: ubuntu-latest
    needs: part4
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}

    steps:
      - name: Checkout public repo (main)
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
          ref: main

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Clone Private Py Repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/Py.git private_py

      - name: Install Shared Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests beautifulsoup4 lxml aiohttp aiofiles dotenv playwright
          playwright install
       
      # 16. Dizizgom Filmler
      - name: Run dizigomfilmler Script
        run: python private_py/movies/dizigom/dizigomfilmler.py

      # 17. SetFilmİzle Filmler
      - name: Run Setfilm Script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python private_py/movies/setfilmizle/ilksayfatümm3uolusturma.py

      # 18. HDFilm Yabancı ve Yerli Filmler
      - name: Run HDFilm Yabancı ve Yerli Filmler Script
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: python private_py/movies/hdfilmsite/hemyabancihemdeyerli.py

      # 19. Dizipal Yerli Filmler ( cloudflare koruması mevcut )
#      - name: Run Dizipal Yerli Filmler Script
#        env:
#          GH_TOKEN: ${{ secrets.GH_TOKEN }}
#        run: python private_py/movies/dizipal/yerlifilm.py

      - name: Sync Filmler outputs to private m3u8file repo
        run: |
          git clone https://x-access-token:${{ secrets.GH_TOKEN }}@github.com/zerodayip/m3u8file.git privatate_m3u8file
          cp dizigomfilmler.m3u privatate_m3u8file/dizigomfilmler.m3u || echo "dizigomfilmler.m3u bulunamadı"
          cp xtream/setfilmizlefilmler.m3u privatate_m3u8file/setfilmizlefilmler.m3u || echo "setfilmizlefilmler.m3u bulunamadı"
          cp hdfilmsite.m3u privatate_m3u8file/hdfilmsite.m3u || echo "hdfilmsite.m3u bulunamadı"
          cp dizipalyerlifilm.m3u privatate_m3u8file/dizipalyerlifilm.m3u || echo "dizipalyerlifilm.m3u bulunamadı"
          cd privatate_m3u8file
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          git add setfilmizlefilmler.m3u dizigomfilmler.m3u hdfilmsite.m3u dizipalyerlifilm.m3u
          git commit -m "Filmlerin çıktısı güncellendi [auto]" || echo "No changes"
          git push origin main
